* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #231F20;
}

h1 {
    font-family: 'IM Fell DW Pica', serif;
    color: #fafafa;
    font-size: 65px;
}